@import 'tailwindcss';
@import '@nuxt/ui';
@import './safelist.css';
@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-sage-50: #f4fcf7;
  --color-sage-100: #e2f5ec;
  --color-sage-200: #c9ebd8;
  --color-sage-300: #a9e0c3;
  --color-sage-400: #8ad2ad;
  --color-sage-500: #6dc298; /* Base: Brighter, Greener Sage */
  --color-sage-600: #57a480;
  --color-sage-700: #428266;
  --color-sage-800: #30654f;
  --color-sage-900: #214f3e;
  --color-sage-950: #102d22;
}
